#h1{
    color:blueviolet;
    text-align:center;
    font-optical-sizing: 2px;
    
    
}
#d1{
    color: rgb(91, 127, 206);
    font-size: 30px;
}
.c1{
    text-align: right;
    padding: 5px;
    margin-left: 1px;
}
#l1{
    border: 5px;
    padding: 1vh;
    
    
}
#l2{
    border: 5px;
    padding: 1vh;
    margin-right: 10vh;
   
    
}
#l3{
    border: 5px;
    padding: 1vh;
    
    
}
#sub{
    margin-left: 50px;
}
body{
        background-image: url("p4.jpeg");
        background-color:aquamarine;
        background-repeat: no-repeat;
        background-size:cover;
       
}
.cll{
    -moz-text-decoration-color: rgb(77, 219, 219);
}
#n1{
    width: 200px;
    height: 20px;
}
#mob{
    width: 200px;
    height: 20px;
}
#loc{
    width: 200px;
    height: 20px;
}